#images-gallery-wrapper {
    height: calc(100% - 2px); /* for border */
}

#images-gallery-wrapper {
    background:white;
    width:95%;
    border: 1px solid black;
    /* black border */
    margin:auto;
    /* centre this div */
    overflow-x: scroll;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 15%;
    padding: 10px;
    max-width: 10vh;
    max-height: 10vh;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 5px;
}

.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrollable > .row > .scrollable-column{
    display: inline-block;
    float: none;
}

/* The expanding image container */
.expanding-image-container {
    position: relative;
    display: none;
    width:80vh;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    margin: 5px;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 5px;
}

/* Closable button inside the expanded image */
.closebtn {
    position:absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

#expandedImg{
    overflow:hidden;
    margin: 5px;
    text-align:center;
    max-height:80vh;
}

.paging-button {
    position:relative;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}