<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }
    </style>
    <link rel="stylesheet" th:href="@{css/image_gallery.css}"/>
    <link rel="stylesheet" th:href="@{css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{css/tree_view.css}"/>
    <script type="text/javascript" th:src="@{js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{js/changeFunc.js}"></script>
    <script type="text/javascript" th:src="@{js/gallery.js}"></script>
</head>
<body>
<div id="mySidebar" class="sidebar">
    <ul id="myUL">
        <!--/*@thymesVar id="child" type="com.github.kozmo.photostorage.service.PathTreeUnit"*/-->
        <!--/*@thymesVar id="schild" type="com.github.kozmo.photostorage.service.PathTreeUnit"*/-->
        <li class="tree_view_text">
            <span class="caret" th:text="'/'  + ${treeRoot.value().getFileName()}"
                  th:attr="onclick=|getFragmentAndChangeDiv('#content','root')|">ROOT_NODE</span>
            <ul class="nested">
                <div th:each="child, i : ${treeRoot.children()}">
                    <span class="caret"
                          th:text="${child.value().getFileName()}"
                          th:attr="onclick=|getFragmentAndChangeDiv('#content','${child.value()}')|"></span>
                    <div th:fragment="fragment_node(child)" th:unless="${#lists.isEmpty(child.children())}">
                        <ul class="nested">
                            <div th:each="schild, i : ${child.children()}">
                                <div th:switch="${schild.children().isEmpty()}">
                                    <li th:case="true" class="tree_view_text"
                                        th:text="${schild.value().getFileName()}"
                                        th:attr="onclick=|getFragmentAndChangeDiv('#content','${schild.value()}')|"
                                    >CHILD
                                    </li>
                                    <li th:case="false" class="tree_view_text">
                                        <span class="caret" th:text="${schild.value().getFileName()}"
                                              th:attr="onclick=|getFragmentAndChangeDiv('#content','${schild.value()}')|"
                                        ></span>
                                        <ul class="nested" th:replace="this::fragment_node(${schild})"></ul>
                                    </li>
                                </div>
                                <ul class="nested" th:replace="this::fragment_node(${schild})"></ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </ul>
        </li>
    </ul>
</div>

<div id="main">
    <button id="open_sidebar_button" class="openbtn" onclick="openCloseNav()"><</button>
</div>

<div id="content" class="animate_300">
    <span> CONTENT </span>
</div>

<script>
    function openCloseNav() {
        const osb = document.getElementById("open_sidebar_button");
        if (osb.textContent === "X") {
            osb.textContent = "<"
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        } else if (osb.textContent === "<") {
            osb.textContent = "X"

            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
    }

    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>

</body>
</html>

