<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }
    </style>
    <link rel="stylesheet" th:href="@{css/image_gallery.css}" th:id="'user_theme_color'"/>
    <link rel="stylesheet" th:href="@{css/sidebar.css}" th:id="'user_theme_pattern'"/>
</head>
<body>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()"><</button>
</div>

<!-- The four columns -->
<div class="row">
    <div class="column" th:each="dir : ${dirs}">
        <img th:src="'/img/'+${dir}" th:alt="${dir.getFileName()}" style="width:100%" onclick="displayFunk(this);">
    </div>
</div>

<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="height:100%">
    <div id="imgtext"></div>
</div>

<script>
    function displayFunk(imgs) {
        const expandImg = document.getElementById("expandedImg");
        const imgText = document.getElementById("imgtext");
        expandImg.src = imgs.src;
        imgText.innerHTML = imgs.alt;
        expandImg.parentElement.style.display = "block";
    }

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</body>
</html>

